<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kuang.dao.UserMapper">

    <resultMap id="UserMap" type="User">
        <id column="id" property="id"/>
        <result column="pwd" property="password"/>
    </resultMap>

    <select id="selectAllUser" parameterType="list" resultMap="UserMap">
        select * from user
    </select>
    <select id="getOneUser" parameterType="integer" resultMap="UserMap">
        select * from user where id = #{id}
    </select>

    <select id="getUserByLimit" parameterType="map" resultMap="UserMap">
        select * from user limit #{page}, #{size}
    </select>

</mapper>

